


/**************************************************************************/
.contenuInfos{
    position: absolute;
    top: 80px;
}
body{
    margin:0;
    padding:0;
    background-color: #231e4e;  
    
}

.titre{
    color: #e1e3e1;
    text-align: center;
    background-color: #23282f;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    
    opacity: 0.95;
    height: 60px;
    padding:0px;       
}

/***************************************CARTE****************************/
.carte{
    display: flex;
    max-height: 120px;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    opacity: 0.95;
    margin-bottom: 10px;
    background-color: #23282f;
    color: #e1e3e1;
    border: solid black 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;

    transition: all 100ms ease-out;
}
.carte:hover{
    transform: scale(1.1);
    opacity: 1;
}
.titreArticle{
    margin: 0;
    font-size: 20px;
    
}

.contenuArticle{
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
    
}

.desciption{
    font-size: 15px;
}
.vignette{
   height: auto;
   
   width: 100px;
   
   border-radius: 15px;
}
/* ************************** FAQ *************************/
.faq{
    
    background-color: #23282f;
    opacity: 0.95;
    color: #e1e3e1;
    margin-top: 15px;   
    
}

.faqContainer{
    padding:1%;
    margin: 0 5%;
    height: auto;
    border:2mm ridge #23282f; 
    border-radius: 15px;  
    box-shadow: 5px 5px 5px black;

    cursor: pointer;
}
   

.faqContainerQuestion {
    font-size: 20px;
    font-style: normal; 

}
.faqContainerReponse {
    display: none;
    font-size: 15px;
    font-style: italic;
    margin-left: 10%;
    margin-top: 2%;
}


    
/********************************* DESKTOP ****************************/
@media  screen and (min-width: 850px) {
    body{
        background-image: url("./assets_Infos/Fond_infos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

    }
    
    .contenant{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        
    }
    
    .carte{
        flex-direction: column;
        margin: 10% 0%;
        width: 400px;
        height: 400px;
        max-height: 100%;
        
    }

    .vignette{
        width:100%;
        height:150px;
        min-width: 150px;
        border-bottom: solid black 5px;
        
        object-fit: cover;    
       
    }
    .contenuInfos{
        width: 100%;
        
    }
    .contenuArticle{
       margin: 0% 5%;
    }
    .titreArticle{
        margin-bottom: 10px;
        border: solid black 5px;
        border-radius: 10px;
        text-align: center;
}
    }
    

}    