.nav-bar {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #23282f;
    opacity: 0.95;
    border-bottom: #aaa solid 1px;
    z-index: 205;
    
  }
  
  .nav-bar-gauche {
    display: none;
  }
  .nav-bar-droite {
    display: none;
  }
  
  .nav-bar-logo {
    position: absolute;
    width: 39px;
    top: 25px;
    left: 35px;
    z-index: 1000;
  }
  
  /*************** ANIMATIONS LIENS DE LA BARRE DE NAVIGATION********/
  .nav-bar-liens {
    display: inline-block;
   
  }
  
  
  .nav-bar-liens::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    margin: 5px auto 0 auto;
    transition: width 0.3s ease-out;
  }
  
  .nav-bar-liens:hover::after {
    width: 100%;
  }
  
  /* Menu Hamburger */
  
  #nav-bar-hamburger {
    height: 35px;
    width: 39px;
    /* background: salmon; */
    position: absolute;
    top: 29px;
    right: 35px;
    z-index: 10000;
  }
  
  .nav-bar-cont-lignes {
    width: 100%;
    height: 39px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav-bar-ligne {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: goldenrod;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  
  .nav-bar-ligne:nth-child(1) {
    top: 0px;
  }
  .nav-bar-ligne:nth-child(2) {
    top: 13px;
  }
  .nav-bar-ligne:nth-child(3) {
    top: 26px;
  }
  
  #nav-bar-hamburger.active .nav-bar-ligne:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
  }
  #nav-bar-hamburger.active .nav-bar-ligne:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }
  #nav-bar-hamburger.active .nav-bar-ligne:nth-child(3) {
    top: 13px;
    transform: rotate(-135deg);
  }
  
  /* Animation barre de navigation telephone */
  
  .nav-bar-phone {
    height: calc(100vh - 80px);
    /* min-height: 900px; */
    width: 100%;
    background-color: #23282f;
    position: relative;
    z-index: 200;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .nav-bar-phone-liste {
    padding-top: 35px;
    width: 100%;
    height: 100%;
  }
  
  .nav-bar-phone-items {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
    font-size: 25px;
    font-family: var(--parag-font-family);
  }
  
  .nav-bar-phone-items a {
    position: relative;
    color: #aaa;
  }
  
  .nav-bar-phone-items a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    display: block;
    width: 50%;
    background: #aaa;
    height: 2px;
    transition: all 0.3s ease-out;
  }
  
  .nav-bar-phone-items a:hover::after {
    width: 0;
  }
  
  .nav-bar-phone-items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    width: 50%;
    background: #aaa;
    height: 2px;
    transition: all 0.3s ease-out;
  }
  
  .nav-bar-phone-items a:hover::before {
    width: 0;
  }
  
  .phoneVisible {
    left: 0px;
    opacity: 1;
  }
  .phoneScrollStop{
    position: fixed;
    width: 100%;
  }
  /* Header Index */
  
  .index-header {
    position: absolute;
    top: 80px;
    width: 101%;
    height: calc(100vh - 80px);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.92),
        rgba(54, 54, 54, 0.5) 39.24%,
        rgba(28, 28, 28, 0.4)
      )
      url(img/poudlard1.jpg) center center/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  